*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Background {
  background-image: url(../src/assets/fondo.jpg);
  background-size: auto;
  /*position: fixed;*/
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
}
nav {
        margin: 0px 20px;
        padding: 10px 30px ;
        font-size: 20px;
        text-align: left;
        color: crimson;
        background-color: rgb(38, 182, 158);
}


div h1 {
  margin: 15px 20px;
  background-color: white;
  font-size: 50px;
  text-align: center;
  color: coral;
}

.proDetalle{
  margin: 0px 20px;
  padding: 10px 30px ;
}
.card__container {
  display: inline-flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.chakra-card {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: center;
}