*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Background {
  background-image: url(../img/954dab8bac7101d759587ad933bf61fe.jpg);
  background-size: auto;
    padding: 150px 30px;
}

nav {
        margin: 0px 20px;
        padding: 10px 30px ;
        font-size: 20px;
        text-align: left;
        color: crimson;
        background-color: rgb(38, 182, 158);
}


div h1 {
  margin: 15px 20px;
  background-color: white;
        font-size: 50px;
        text-align: center;
        color: coral;
       
}
